# =========================
# 🔹 Python
# =========================
**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# 🔹 Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# 🔹 Logs
# =========================
logs/*
*.log

# =========================
# 🔹 Data (keep structure, ignore content)
# =========================
data/raw/*
data/processed/*
data/tmp/*

# =========================
# 🔹 keep empty folders tracked
# =========================
!data/raw/.keep
!data/processed/.keep
!data/tmp/.keep

# =========================
# 🔹 Spark / Hadoop
# =========================
metastore_db/
spark-warehouse/
derby.log

# =========================
# 🔹 IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# 🔹 OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 Build / Packaging
# =========================
dist/
build/
*.egg-info/

# =========================
# 🔹 Environment variables
# =========================
.env

# =========================
# 🔹 Jupyter (if you use later)
# =========================
.ipynb_checkpoints/
